
 
 

 
 
 

 
 
 
 
 
 
 
 
 
 .container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{--bs-gutter-x:20px;--bs-gutter-y:0;width:100%;padding-right:calc(var(--bs-gutter-x)*.5);padding-left:calc(var(--bs-gutter-x)*.5);margin-right:auto;margin-left:auto}
 .row{--bs-gutter-x:20px;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1*var(--bs-gutter-y));margin-right:calc(-.5*var(--bs-gutter-x));margin-left:calc(-.5*var(--bs-gutter-x))}
 .row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x)*.5);padding-left:calc(var(--bs-gutter-x)*.5);margin-top:var(--bs-gutter-y)}
 .col-md{flex:1 0}
 .row-cols-md-auto>*{flex:0 0 auto;width:auto}
 .row-cols-md-1>*{flex:0 0 auto;width:100%}
 .row-cols-md-2>*{flex:0 0 auto;width:50%}
 .row-cols-md-3>*{flex:0 0 auto;width:33.3333333333%}
 .row-cols-md-4>*{flex:0 0 auto;width:25%}
 .row-cols-md-5>*{flex:0 0 auto;width:20%}
 .row-cols-md-6>*{flex:0 0 auto;width:16.6666666667%}
 .col-md-auto{flex:0 0 auto;width:auto}
 .col-md-1{flex:0 0 auto;width:8.33333333%}
 .col-md-2{flex:0 0 auto;width:16.66666667%}
 .col-md-3{flex:0 0 auto;width:25%}
 .col-md-4{flex:0 0 auto;width:33.33333333%}
 .col-md-5{flex:0 0 auto;width:41.66666667%}
 .col-md-6{flex:0 0 auto;width:50%}
 .col-md-7{flex:0 0 auto;width:58.33333333%}
 .col-md-8{flex:0 0 auto;width:66.66666667%}
 .col-md-9{flex:0 0 auto;width:75%}
 .col-md-10{flex:0 0 auto;width:83.33333333%}
 .col-md-11{flex:0 0 auto;width:91.66666667%}
 .col-md-12{flex:0 0 auto;width:100%}




.d-inline-block{display:inline-block}
.d-block{display:block}
.d-grid{display:grid}
.d-inline-grid{display:inline-grid}
.d-table{display:table}
.d-table-row{display:table-row}
.d-table-cell{display:table-cell}
.d-flex{display:flex}
.d-inline-flex{display:inline-flex}
.d-none{display:none!important}




.w-25{width:25%!important}
.w-50{width:50%!important}
.w-75{width:75%!important}
.w-100{width:100%!important}
.w-auto{width:auto!important}
.mw-100{max-width:100%!important}
.vw-100{width:100vw!important}
.min-vw-100{min-width:100vw!important}
.h-25{height:25%!important}
.h-50{height:50%!important}
.h-75{height:75%!important}
.h-100{height:100%!important}
.h-auto{height:auto!important}
.mh-100{max-height:100%!important}
.vh-100{height:100vh!important}
.min-vh-100{min-height:100vh!important}
.flex-fill{flex:1 1 auto!important}
.flex-row{flex-direction:row!important}
.flex-column{flex-direction:column!important}
.flex-row-reverse{flex-direction:row-reverse!important}
.flex-column-reverse{flex-direction:column-reverse!important}
.flex-grow-0{flex-grow:0!important}
.flex-grow-1{flex-grow:1!important}
.flex-shrink-0{flex-shrink:0!important}
.flex-shrink-1{flex-shrink:1!important}
.flex-wrap{flex-wrap:wrap!important}
.flex-nowrap{flex-wrap:nowrap!important}
.flex-wrap-reverse{flex-wrap:wrap-reverse!important}
.justify-content-start{justify-content:flex-start!important}
.justify-content-end{justify-content:flex-end!important}
.justify-content-center{justify-content:center!important}
.justify-content-between{justify-content:space-between!important}
.justify-content-around{justify-content:space-around!important}
.justify-content-evenly{justify-content:space-evenly!important}




.gap-0{gap:0!important}
.gap-1{gap:2.5px!important}
.gap-2{gap:5px!important}
.gap-3{gap:10px!important}
.gap-4{gap:15px!important}
.gap-5{gap:30px!important}
.row-gap-0{row-gap:0!important}
.row-gap-1{row-gap:2.5px!important}
.row-gap-2{row-gap:5px!important}
.row-gap-3{row-gap:10px!important}
.row-gap-4{row-gap:15px!important}
.row-gap-5{row-gap:30px!important}
.column-gap-0{column-gap:0!important}
.column-gap-1{column-gap:2.5px!important}
.column-gap-2{column-gap:5px!important}
.column-gap-3{column-gap:10px!important}
.column-gap-4{column-gap:15px!important}
.column-gap-5{column-gap:30px!important}











.filled.position-absolute{width:100%;height:100%;top:0;left:0}
.flex-1{flex:1 1}
.page-line,.post-item-line{display:block;height:1px;background-color:#efefef}
.post-item-line{margin:0 18px}




footer{background-color:#0040d4;color:#fff;font-size:14px}
footer .footer-top{padding-top:28px;padding-bottom:28px}
footer .page-line{background-color:#fff;opacity:.33}
footer .footer-middle{padding-top:28px;padding-bottom:28px}
footer .foot-mb{margin-bottom:25px}
footer .foot-col1{padding-right:50px}
footer .foot-logo{max-width:150px;display:inline-block}
footer .foot-logo img{max-width:100%}
footer .footer-bottom{font-size:12px}
.footer-menu ul li{display:block}
.footer-menu a{color:#fff;margin-bottom:9px;opacity:.68;transition:opacity .2s ease;font-size:13px}
.footer-menu a:hover{opacity:1}
.footer-social-item{width:40px;height:40px;display:flex;align-items:center;justify-content:center;color:#fff;text-decoration:none;border-radius:50%;margin:0 20px}
.footer-social-item:hover{color:#fff}


.subscribe-wrap{padding:40px}
.bg-gradient-subscribe{overflow:hidden;border-radius:6px;position:relative;background:#0040d4;background:linear-gradient(0deg,#0040d4,#004dff)}
.subscribe-cover{background-size:cover;background-position:50%;background-repeat:no-repeat}
.subscribe-cover,.subscribe-cover:before{position:absolute;width:100%;height:100%;top:0;left:0;opacity:.2;z-index:0}
.subscribe-cover:before{content:"";background-color:#fff}.subscribe-box{z-index:2;border-radius:6px;background-color:#fff;max-width:100%;margin:auto;padding:33px 45px 26px}
.subscribe-box .subscribe-box-span{font-size:10px;text-transform:uppercase;color:#72808f;font-weight:500}
.subscribe-box h3{font-size:24px;font-weight:700}
.subscribe-box .span-text{max-width:520px}
.subscribe-box.subscribe-border{border:1px solid #1c41d4}
.subscribe-field-wrapper{border-radius:15px;max-width:430px}
.subscribe-field-wrapper .btn-warning{width:105px}
.subscribe-field-wrapper .form-control{border-color:#0040d4;border-radius:50px;padding-left:25px}
.subscribe-field-wrapper .form-control::placeholder{color:#0040d4;opacity:.5}
.subscribe-field-wrapper .btn{border-radius:0;min-width:100px;height:50px;border-radius:50px}
.subscribe-box-wrapper2{position:relative;background-color:#0040d4;border-radius:10px;overflow:hidden}
.subscribe-box-wrapper2 .subbox2-bg{position:absolute;width:100%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:50%;z-index:1;opacity:.3}
.subscribe-box-wrapper2 .subscribe-box{background-color:transparent;color:#fff;padding:30px}
.subscribe-box-wrapper2 .subscribe-box .subscribe-box-span{color:#ffda00;font-weight:600}
.subscribe-box-wrapper2 .index-3{z-index:3}
.subscribe-box-wrapper2 .span-text{opacity:.7}

.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}
.spinner-border.primary{color:var(--color-dark)!important}

.pi-my{margin-top:22px}
.pi-mb,.pi-my{margin-bottom:22px}
.pi-my-st{top:85px!important}
.post-item-wrap{background-color:#fff;border:1px solid #efefef;border-radius:6px;overflow:hidden}
.post-item{line-height:1.4;position:relative;color:#000}
.post-item .thumb-wrap:before{content:"";background-color:#000;position:absolute;width:100%;height:100%;opacity:0;transition:opacity .2s ease-in-out}
.post-item:hover .thumb-wrap:before{opacity:.2}
.post-item:hover .post-info-wrap{opacity:.8}
.post-item .post-title{font-size:17px;line-height:1.25;margin-bottom:0;transition:color .2s ease}
.post-item.big .post-title{font-size:24px;line-height:32px}
.post-item.big .post-excerpt{font-size:14px}
.post-item.big .post-info-wrap{padding-right:5%!important}
.post-item.big .thumb-wrap{max-height:400px}
.post-item.small .post-title{font-size:16px}
.post-item.medium .post-title{font-size:17px}
.post-item .post-link{position:absolute;width:100%;height:100%;top:0;left:0;z-index:5}
.post-item .post-author,.post-item .post-category{text-decoration:none}
.post-item .post-author{color:#72808f;font-size:12px}
.post-item .post-author a{z-index:15;position:relative;display:inline-block;color:inherit;text-decoration:none}
.post-item .post-title{font-weight:700}
.post-item .thumb-wrap{position:relative;overflow:hidden}
.post-item .thumb-wrap.default{min-width:250px;width:250px}
.post-item .thumb-wrap.mini{width:100px;height:100px}
.post-item .thumb-wrap.mini img{display:block;height:100%;width:100%;object-fit:cover}
.post-item .thumb-wrap img{width:100%}
.post-item .post-excerpt{font-size:14px;opacity:1;transition:opacity .2s ease}
.post-item.invert-color{color:#fff}
.post-item.invert-color .post-category{color:#ffda00}
.post-item.invert-color .post-excerpt{color:#868686}
.post-item.list-item{padding-top:44px;padding-bottom:44px;border-bottom:1px solid #efefef}
.post-item.list-item:last-child{border-bottom:none}
.post-item .post-excerpt-wrapper{padding-right:96px}
.post-item .post-info-wrap{padding:13px 18px}
.post-item-flex .thumb-wrap{width:320px;min-width:320px;margin-right:3px}
.post-category{text-decoration:none;color:#000;font-weight:700;font-size:10px;color:#0040d4;text-transform:uppercase;z-index:7;position:relative;display:inline-block;border-radius:4px;word-break:keep-all}
.post-category.abs{position:absolute;left:16px;top:12px}
.post-category.big{font-size:12px}
.post-category2{text-decoration:none;color:#000;line-height:1.4;display:inline-block;padding-left:3px;padding-right:3px;font-size:18px;font-weight:700;background:linear-gradient(0deg,#ffda00 50%,transparent 0)}
.middle-title{font-size:17px}
.yellow-sb::-webkit-scrollbar{width:4px}
.yellow-sb::-webkit-scrollbar-thumb{background-color:#ffda00;border-radius:11px}
.post-item-secondary-featured{border-radius:6px;position:relative;overflow:hidden}
.post-item-secondary-featured .post-link{position:absolute;width:100%;height:100%;top:0;left:0;z-index:5}
.post-item-secondary-featured .thumb-wrap{position:absolute;width:100%;height:100%}
.post-item-secondary-featured .thumb-wrap img{object-fit:cover;height:100%;width:100%}
.post-item-secondary-featured .post-info-wrap{position:absolute;bottom:0;width:100%;min-height:50%;color:#fff;background:#000;background:linear-gradient(0deg,rgba(0,0,0,.774),transparent);padding:50px 18px 13px;display:flex;flex-direction:column;justify-content:end;transition:all .2s ease}
.post-item-secondary-featured:hover .post-info-wrap{min-height:100%}
.post-item-secondary-featured .post-title{font-size:19px;font-weight:700}
.post-item-secondary-featured a{color:#fff}
.post-item-secondary-featured .post-author{font-size:12px;color:#fff}
.post-item-secondary-featured .post-author a{color:inherit;text-decoration:none}
.colored-brochure-list{border-radius:6px;background-color:#000;position:relative;padding:18px 14px 18px 18px;color:#fff;height:100%;max-height:380px;display:flex;flex-direction:column}
.colored-brochure-list .middle-title{flex:1 1}
.colored-brochure-list .colored-brochure-list-wrap{height:100%;min-height:200px;overflow-y:auto;padding-right:16px}
.colored-brochure-list .colored-brochure-list-item{display:block;color:#fff;border-top:1px solid hsla(0,0%,89%,.314);padding:13px 0;text-decoration:none}
.colored-brochure-list .colored-brochure-list-item .item-span{font-size:12px;color:#a3a3a3}
.colored-brochure-list .colored-brochure-list-item .item-title{font-size:15px;font-weight:700}
.breaking-news{width:80vw; height: 2vh; border-radius: 5px; border: #e1e1e1 solid 1px; display: flex; justify-content: left; align-items: center; gap: 50px; font-size: 14px; font-weight: bold; }
.breaking-news-cat{ height: 2vh; border:  #e1e1e1 solid 1px; border-radius: 5px; display: flex; justify-content: center; align-items: center; width: 3vw; background-color: #fbda04;}


 